
h1{
    color: maroon;

}

.post {
    background-color: cadetblue;

}

h3 {
    color: beige;
    font-style: italic;

}
h4 {
    color: rgb(221, 174, 112);

}

body {
    background-color: aquamarine;
}